<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <title>{% block title %}{% endblock %}</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>

    <body>
        <div id = "header">
            <div id = "logo">
                <a id = "main_logo" href = "{{ url_for('home') }}">MedExp</a>
                <div id = "sub_logo">
                Browse Medium articles. Save and get recommendations
                </div>
            </div>
        {% block login_body %}
        {% endblock %}
    </body>
</html>
